html, body {
  font-family: Arial, Helvetica, sans-serif;
  //font-size: 13pt;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header p {
  font-size: 420%;
  color: rgba(0, 0, 0, 0.89);
  padding-top: 36vh;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  border-bottom: solid  rgba(0, 0, 0, 0.89);
  background-color: #CFB53B;
}

h2,
h3,
h4{
    margin-bottom: 1rem;
}
h1 {
  font-size: 2.4rem;
  color: #CFB53B;
  text-align: center;
  padding: 2.73972602739726vh 0 2.73972602739726vh 0;
  margin: 0 0 1.5220700152207vh 0;
  padding-top: 0;
}

h2 {
  font-size: 2.2rem;
  color: #babd0c;
  text-align: center;
  padding: 2.73972602739726vh 0 2.73972602739726vh 0;
  margin: 0 0 1.5220700152207vh 0;
}
h2 span {
  border-bottom: solid #babd0c;
}
p {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-right: 7.320644216691069vw;
  padding-left: 7.320644216691069vw;
}
.information{
  text-align: center;
  font-size: 2.4rem;
  padding-top: 0;
  margin-top: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.89);
  position:relative;
}
h3{
  font-size: 2.4rem;
  color: #babd0c;
  text-align: center;
  padding: 2.73972602739726vh 0 2.73972602739726vh 0;
  margin: 0 0 1.5220700152207vh 0;
}
h3 span {
  border-bottom: solid #babd0c;
}
hr{
  border:  0.030441400304414vh solid rgba(163, 162, 162, 0.2);
  width: 68%;
  margin: auto;
}
table.a{
  font-size: 1.2rem;
  padding-left: 22.374429223744293vh;
  border-spacing: 19.7869101978691vh  1.5220700152207vh;
}
#bold{
  font-weight: bold;
  padding-left: 30vh;
}
ul{
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-right: 7vw;
  padding-left: 16vw;
}
table.b{
  font-size: 1.2rem;
  border-spacing: 14.641288433382138vw 0.7320644216691069vw;
  margin-left: 21.961932650073205vw;
}
.img-responsive{
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}
#center{
  margin: auto;
  text-align: center;
  padding-bottom: .76103500761035vh;
}
.bar{
  margin: 0;
  padding: 0;
  height: 7.610350076103501vh;
  width: 100vw;
  position: absolute; // so that you can place the blank div(or blank space) wherever you want it. Make sure you have a "position: relative;" div. Absolute div must be inside a Relative div.
  background-color: rgba(0, 0, 0, 0.89);
}
.btn{
  cursor: pointer;
  font-size: 1.2rem;
  border: none;

  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
}
#cat{
  font-size: 0.8rem;
}
.fact{
  font-size: 0.8rem;
  padding-right: 7vw;
  padding-left: 16vw;
}
.btnGithub{
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  margin-left: 45vw;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
}
.img-qr{
  align-items: center;
  margin-left: 47%;
}
#CV{
  font-size: 1.2rem;
  padding-right: 0 !important;
  padding-left: 35vw;
  padding-bottom: 0;
  margin-bottom: 0px;
}
