<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuintinCV</title>
</head>
<body>
<div class="container">
  <!-- header start -->
  <div id="header" class="section">
      <p>Quintin Nel</p>
  </div>
  <!-- header end -->
  <div id="information">
    <h1>
      I'm a 3rd year Information Technology student.
    </h1>
    <img class="img-responsive" src="/assets/selfie.jpg" alt="image">
  </div>
</div>
<!-- About Me section start -->
<div class="about">
  <h2><span>About Me</span></h2>
    <p>
      A competent and determined 3rd year student. Throughout my education, I have demonstrated high levels of motivation, work ethic and teamwork to achieve my grades. I enjoy coding and learning about new technologies and seeing how the world changes around it.
    </p>
    <p>
      I'm from Johannesburg. I am an avid gamer, I also enjoy watching sports and have started playing guitar in the past year.
    </p>
</div>
<hr>
<!-- About Me section end -->
<!-- Skills and achievments section start -->
<div class="skills">
  <h2><span>Skills and achievments</span></h2>
  <table class = "a" style="width: 100%;">
    <tr>
      <td>• Problem-solving</td>
      <td>• Twice invited to  join Golden key international honour society</td>
    </tr>
    <tr>
      <td>• Time management</td>
      <td>• Data management</td>
    </tr>
    <tr>
      <td>• Driver’s license</td>
      <td>• Teamwork</td>
    </tr>
    <tr>
      <td>• Fluent in Afrikaans and English</td>
    </tr>
  </table>
</div>
<hr>
<!-- Skills and achievments section end -->
<!-- Education section start -->
<div class="education">
  <h2><span>Education</span></h2>
  <p id="bold">
    Current
  </p>
  <ul>
    <li>North-West University Bachelor of Science in Information Technology</li>
    <ul>
      <li>Started 2018</li>
      <li>First year average – 74%</li>
      <li>Second year average – 75%</li>
    </ul>
  </ul>
  <p id="bold">
    Completed
  </p>
  <ul>
    <li>Hoërskool Dinamika National Senior Certificate </li>
    <ul>
      <li>Graduated 2016</li>
    </ul>
  </ul>
</div>
<hr>
<!-- Education section end -->
<!-- Languages section start -->
<div>
  <h2><span>Programming Languages and Tech</span></h2>
</div>
<table class="b">
  <tr>
    <td>• Python</td>
    <td>• C++</td>
  </tr>
  <tr>
    <td>• C#</td>
    <td>• Excel</td>
  </tr>
  <tr>
    <td>• Angular</td>
    <td>• HTML</td>
  </tr>
  <tr>
    <td>• CSS</td>
    <td>• SQL</td>
  </tr>
  <tr>
    <td>• Java</td>
    <td>• Typescript</td>
  </tr>
</table>
<hr>
<!-- Languages section end -->
<!-- Contact me section start -->
<h2><span>Contact Details</span></h2>
<p id = "center">quintinnel9@gmail.com</p>
<button type="button" class="btn" (click)="downloadPdf('./assets/CV.pdf','CV.pdf')">
  Download CV
</button>
<!-- Contact me section end -->
<div class="bar">
  <br>
</div>
