html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header{
  background-color: #CFB53B;
  padding-top: 36vh;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.header span{
  text-transform: uppercase;
  font-size: 80px;
  transform: translate(-155px,0) scale(0.4);
  animation: animate 5s forwards;

}
.header span:nth-of-type(2){
  animation-delay: 0.10s;
}
.header span:nth-of-type(3){
  animation-delay: 0.20s;
}
.header span:nth-of-type(4){
  animation-delay: 0.30s;
}
.header span:nth-of-type(5){
  animation-delay: 0.40s;
}
.header span:nth-of-type(6){
  animation-delay: 0.50s;
}
.header span:nth-of-type(7){
  animation-delay: 0.60s;
}
.header span:nth-of-type(8){
  animation-delay: 0.70s;
}
.header span:nth-of-type(9){
  animation-delay: 0.80s;
}
.header span:nth-of-type(10){
  animation-delay: 0.90s;
}
@keyframes animate{
  40%{
    transform: translate(50px,0) scale(.7);
    opacity: 1;
  }
  60%{
    color: wheat;
  }
  80%{
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100%{
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

h2,
h3,
h4{
    margin-bottom: 1rem;
}
h1 {
  font-size: 2.4rem;
  color: #CFB53B;
  text-align: center;
  padding: 3vh 0 3vh 0;
  margin: 0 0 1.5vh 0;
  padding-top: 0;
}

h2 {
  font-size: 2.2rem;
  color: #babd0c;
  text-align: center;
  padding: 3vh 0 3vh 0;
  margin: 0 0 1.5vh 0;
}
h2 span {
  border-bottom: solid #babd0c;
}
p {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-right: 7vw;
  padding-left: 7vw;
}
.information{
  text-align: center;
  font-size: 2.4rem;
  padding-top: 0;
  margin-top: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.89);
  position:relative;
}
hr{
  border:  0.03vh solid rgba(163, 162, 162, 0.2);
  width: 68%;
  margin: auto;
}
table.a{
  font-size: 1.2rem;
  padding-left: 11vw;
  border-spacing: 20vh  1.5vh;
}
#bold{
  font-weight: bold;
  padding-left: 30vh;
}
ul{
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-right: 7vw;
  padding-left: 16vw;
}
table.b{
  font-size: 1.2rem;
  border-spacing: 14.5vw 0.7vw;
  margin-left: 22vw;
}
.img-responsive{
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}
#center{
  margin: auto;
  text-align: center;
  padding-bottom: .7vh;
}
.bar{
  margin: 0;
  padding: 0;
  height: 7.6vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.89);
}
.btn{
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
}
#cat{
  font-size: 0.8rem;
}
.fact{
  font-size: 0.8rem;
  padding-right: 7vw;
  padding-left: 16vw;
}
.btnGithub{
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  margin-left: 45vw;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
}
.img-qr{
  align-items: center;
  margin-left: 47%;
}
#CV{
  font-size: 1.2rem;
  padding-right: 0 !important;
  padding-left: 35vw;
  padding-bottom: 0;
  margin-bottom: 0px;
}
