/* You can add global styles to this file, and also import other style files */
html,body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 0px !important;
}

